body {
    background-color: black;
    color: white;
    font-family:'Times New Roman', Times, serif;
}

.aboutmemsg_div {
    width: 70%;
    height: 8%;
    margin-right: 15%;
    margin-left: 15%;
    padding: 1%;
    margin-top: 2%;
    text-align: center;
    background-color: white; 
    box-shadow: 3px 10px 30px 2px white;
    transition: box-shadow 0.3s, transform 0.3s; 
    animation: fadeInText 7s ease forwards;
    border-radius: 15px;
    border: 2px solid black;
    cursor: pointer;
}
.aboutmemsg_div.white-shadow {
    box-shadow: 3px 10px 30px 2px white;
}
.aboutmemsg_div.black-shadow {
    box-shadow: 3px 10px 30px 3px black;
}
.aboutmemsg_div.black-shadow:hover {
    box-shadow: 6px 8px 7px 1px black;
    transform: translate(-5px);
}
.aboutmsg_div.white-shadow:hover {
    box-shadow: 6px 8px 7px 1px white;
    transform: translate(-5px);
}
.aboutmemsg_div:hover {
    box-shadow: 6px 8px 7px 1px white;
    transform: translate(-5px);
}
.aboutme_msg {
    font-size: 18px;
    color: black;
    font-weight: bold;
}
