body {
    background-color: black;
    color: white;
    font-family:'Times New Roman', Times, serif;
}

.aboutmemsg_div {
    width: 70%;
    height: 8%;
    margin-right: 15%;
    margin-left: 15%;
    padding: 1%;
    margin-top: 2%;
    text-align: center;
    background-color: black; 
    box-shadow: 1px 5px 8px 1px white;
    transition: box-shadow 0.3s, transform 0.3s; 
    animation: fadeInText 7s ease forwards;
    border-radius: 15px;
    border: 4px solid black;
    cursor: pointer;
}
.aboutmemsg_div.white-shadow {
    box-shadow: 5px 5px 15px 2px white;
}
.aboutmemsg_div.black-shadow {
    box-shadow: 3px 3px 5px 6px black;
}
.aboutmemsg_div.black-shadow:hover {
    box-shadow: 6px 8px 7px 1px black;
    transform: translate(-5px);
}
.aboutmsg_div.white-shadow:hover {
    box-shadow: 6px 8px 7px 1px white;
    transform: translate(-5px);
}
.aboutmemsg_div:hover {
    box-shadow: 6px 8px 7px 1px white;
    transform: translate(-5px);
}
.aboutme_msg {
    font-size: 100%;
    color: white;
    font-weight: bold;
}

/* ****************************************************************** */

.skills_tab {
    color: white;
    width: 200px;
    height: 30px;
    margin-top: 6%;
    position: absolute;
    z-index: 999;
    text-align: center;
    border: 2px solid white;
    border-radius: 30px;
    background-color: black;
    animation: fadeInText 7s ease forwards; 
    transition: box-shadow 0.3s, transform 0.3s; 
    box-shadow: 1px 2px 3px 1px white;
    cursor: pointer;
} 
.skills_tab:hover {
    box-shadow: 1px 3px 4px 2px white;
}

.skills_container {
    background-color: black;
    width: 97%;
    margin-top: 8%;
    margin-bottom: 5%;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid black;
    box-shadow: 3px 3px 6px 3px lightgray;
    transition: box-shadow 0.3s, transform 0.3s; 
    animation: fadeInText 7s ease forwards;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 10px; 
    position: relative;
    z-index: 1;
}

.skills {
    background-color: black;
    text-align: center;
    color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    word-wrap: break-word;
    display: inline-block;
    overflow: hidden; 
    position: relative; 
}
.skills img {
    border-radius: 50%;
    animation: float 5s infinite alternate; 
    box-shadow: 1px 5px 8px 1px white;
    width: 50px;
    height: 50px;
}

.skills:hover img {
    transform: rotate(360deg); 
    box-shadow: 2px 4px 3px 1px white;
    transform: translate(-5px);
}

.img_logo {
    width: 50px;
    height: 50px;
}
@keyframes float {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(10px, 10px); /* Adjust the values for desired floating motion */
    }
    100% {
        transform: translate(0px, 0px);
    }
}

/*  *********************** HTML *********************** */
.skills_HTML {
    background-color: black;
    text-align: center;
    color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    word-wrap: break-word;
    display: inline-block;
    overflow: hidden; 
    position: relative;
}
.skills_HTML:hover {
    border-color: red; 
}
.skills_HTML img {
    border-radius: 50%;
    animation: float 5s infinite alternate; 
    transition: transform 0.3s ease-in-out;
    box-shadow: 1px 5px 8px 1px white;
    background-color: black;
    width: 50px;
    height: 50px;
}
.skills_HTML:hover img {
    transform: rotate(360deg); 
    box-shadow: 2px 4px 3px 1px lightslategray;
    transform: translate(-5px);
}

/*  *********************** CSS *********************** */
.skills_CSS {
    background-color: black;
    text-align: center;
    color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    word-wrap: break-word;
    display: inline-block;
    overflow: hidden; 
    position: relative;
}
.skills_CSS:hover {
    border-color: red; 
}
.skills_CSS img {
    border-radius: 50%;
    animation: float 5s infinite alternate; 
    transition: transform 0.3s ease-in-out;
    box-shadow: 1px 5px 8px 1px white;
    background-color: black;
    width: 50px;
    height: 50px;
}
.skills_CSS:hover img {
    transform: rotate(360deg); 
    box-shadow: 2px 4px 3px 1px lightslategray;
    transform: translate(-5px);
}

/*  *********************** Javascript *********************** */
.skills_javascript {
    background-color: black;
    text-align: center;
    color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    word-wrap: break-word;
    display: inline-block;
    overflow: hidden; 
    position: relative;
}
.skills_javascript:hover {
    border-color: red; 
}
.skills_javascript img {
    border-radius: 50%;
    animation: float 5s infinite alternate; 
    transition: transform 0.3s ease-in-out;
    box-shadow: 1px 5px 8px 1px white;
    background-color: black;
    width: 50px;
    height: 50px;
}
.skills_javascript:hover img {
    transform: rotate(360deg); 
    box-shadow: 2px 4px 3px 1px lightslategray;
    transform: translate(-5px);
}

/*  *********************** Java *********************** */
.skills_java {
    background-color: black;
    text-align: center;
    color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    word-wrap: break-word;
    display: inline-block;
    overflow: hidden; 
    position: relative;
}
.skills_java:hover {
    border-color: red; 
}
.skills_java img {
    border-radius: 50%;
    animation: float 5s infinite alternate; 
    transition: transform 0.3s ease-in-out;
    box-shadow: 1px 5px 8px 1px white;
    background-color: black;
    width: 50px;
    height: 50px;
}
.skills_java:hover img {
    transform: rotate(360deg); 
    box-shadow: 2px 4px 3px 1px lightslategray;
    transform: translate(-5px);
}

/*  *********************** Kotlin *********************** */
.skills_kotlin {
    background-color: black;
    text-align: center;
    color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    word-wrap: break-word;
    display: inline-block;
    overflow: hidden; 
    position: relative;
}
.skills_kotlin:hover {
    border-color: red; 
}
.skills_kotlin img {
    border-radius: 50%;
    animation: float 5s infinite alternate; 
    transition: transform 0.3s ease-in-out;
    box-shadow: 1px 5px 8px 1px white;
    background-color: black;
    width: 50px;
    height: 50px;
}
.skills_kotlin:hover img {
    transform: rotate(360deg); 
    box-shadow: 2px 4px 3px 1px lightslategray;
    transform: translate(-5px);
}

/*  *********************** XML *********************** */
.skills_XML {
    background-color: black;
    text-align: center;
    color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    word-wrap: break-word;
    display: inline-block;
    overflow: hidden; 
    position: relative;
}
.skills_XML:hover {
    border-color: red; 
}
.skills_XML img {
    border-radius: 50%;
    animation: float 5s infinite alternate; 
    transition: transform 0.3s ease-in-out;
    box-shadow: 1px 5px 8px 1px white;
    background-color: black;
    width: 50px;
    height: 50px;
}
.skills_XML:hover img {
    transform: rotate(360deg); 
    box-shadow: 2px 4px 3px 1px lightslategray;
    transform: translate(-5px);
}

/*  *********************** Python *********************** */
.skills_python {
    background-color: black;
    text-align: center;
    color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    word-wrap: break-word;
    display: inline-block;
    overflow: hidden; 
    position: relative;
}
.skills_python:hover {
    border-color: red; 
}
.skills_python img {
    border-radius: 50%;
    animation: float 5s infinite alternate; 
    transition: transform 0.3s ease-in-out;
    box-shadow: 1px 5px 8px 1px white;
    background-color: black;
    width: 50px;
    height: 50px;
}
.skills_python:hover img {
    transform: rotate(360deg); 
    box-shadow: 2px 4px 3px 1px lightslategray;
    transform: translate(-5px);
}

/*  *********************** Arduino *********************** */
.skills_arduino {
    background-color: black;
    text-align: center;
    color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    word-wrap: break-word;
    display: inline-block;
    overflow: hidden; 
    position: relative;
}
.skills_arduino:hover {
    border-color: red; 
}
.skills_arduino img {
    border-radius: 50%;
    animation: float 5s infinite alternate; 
    transition: transform 0.3s ease-in-out;
    box-shadow: 1px 5px 8px 1px white;
    background-color: black;
    width: 50px;
    height: 50px;
}
.skills_arduino:hover img {
    transform: rotate(360deg); 
    box-shadow: 2px 4px 3px 1px lightslategray;
    transform: translate(-5px);
}

/*  *********************** Git *********************** */
.skills_git {
    background-color: black;
    text-align: center;
    color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    word-wrap: break-word;
    display: inline-block;
    overflow: hidden; 
    position: relative;
}
.skills_git:hover {
    border-color: red; 
}
.skills_git img {
    border-radius: 50%;
    animation: float 5s infinite alternate; 
    transition: transform 0.3s ease-in-out;
    box-shadow: 1px 5px 8px 1px white;
    background-color: black;
    width: 50px;
    height: 50px;
}
.skills_git:hover img {
    transform: rotate(360deg); 
    box-shadow: 2px 4px 3px 1px lightslategray;
    transform: translate(-5px);
}

/*  *********************** Bash *********************** */
.skills_bash {
    background-color: black;
    text-align: center;
    color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    word-wrap: break-word;
    display: inline-block;
    overflow: hidden; 
    position: relative;
}
.skills_bash:hover {
    border-color: red; 
}
.skills_bash img {
    border-radius: 50%;
    animation: float 5s infinite alternate; 
    transition: transform 0.3s ease-in-out;
    box-shadow: 1px 5px 8px 1px white;
    background-color: black;
    width: 50px;
    height: 50px;
}
.skills_bash:hover img {
    transform: rotate(360deg); 
    box-shadow: 2px 4px 3px 1px lightslategray;
    transform: translate(-5px);
}

/*  *********************** Firebase *********************** */
.skills_firebase {
    background-color: black;
    text-align: center;
    color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    word-wrap: break-word;
    display: inline-block;
    overflow: hidden; 
    position: relative;
    transition: border-color 0.3s ease-in-out; /* Add transition for smooth effect */
}
.skills_firebase:hover {
    border-color: red; 
}
.skills_firebase img {
    border-radius: 50%;
    animation: float 5s infinite alternate; 
    transition: transform 0.3s ease-in-out;
    box-shadow: 1px 5px 8px 1px white;
    background-color: black;
    width: 50px;
    height: 50px;
}
.skills_firebase:hover img {
    transform: rotate(360deg); 
    box-shadow: 2px 4px 3px 1px lightslategray;
    transform: translate(-5px);
}

