/* style main div*/
.form_container {
    width: 300px;
    margin-top: 10%;
    border: 3px solid white;
    border-radius: 30px;
    box-shadow: 2px 4px 8px 1px white;
    transition: box-shadow 0.5s, transform 0.5s;
    cursor: pointer;
}
.form_container:hover {
    box-shadow: 4px 5px 7px 2px white;
    transform: -5px;
}

/* style form */
.form_container form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

/* style inpyt boxes*/
.input_box {
    width: 100%;
    height: 100%;
    margin: 10px 0;
    overflow: hidden;
}
.form_name {
    margin-top: 10px;
}

.input_box input[type="text"], .input_box input[type="email"] {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    width: 80%;
    height: 28px;
    border-radius: 10px;
    border: 2px solid black;
    border: none;
    outline: none;
    overflow: hidden;
    padding: 0px 10px;
    color: black;
}
.form_message {
    font-size: 18px;
    border-radius: 10px;
    width: 250px;
    height: 100px;
}

.form_button {
    width: 100px;
    height: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 30px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px 1px white;
    transition: box-shadow 0.3s, transform 0.3s; 

}
.form_button:hover {
    box-shadow: 1px 2px 2px 1px white;
}