body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(29, 27, 27);
    padding: 15px;
    font-size: 15px;
    margin: 0;
    width: 98.5%;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: gray;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    animation: fadeInText 7s ease forwards;
    opacity: 0;
}

@keyframes fadeInText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hello {
    color: white;
    font-weight: 800;
}

.name {
    color: white;
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: white;
}

.btn {
    background-color: dimgray;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: gray;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(29, 27, 27);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 14px;
}
